.home-page {
  background-image: url("/public/images/background-2.jpg");
  background-size: cover;
  height: 100vh;
}

.fr-page {
  background-image: url("/public/images/background-2.jpg");
  background-size: cover;
}

.login-page {
  background-image: url("/public/images/background-3.jpg");
  background-size: cover;
  height: 100vh;
}

.screen,
.login {
  height: 100vh;
}
.screen {
  background: url("../public/images/background-3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* Home page desktop */
.div-nav {
  padding-top: 2px;
}

.nav-title-home {
  margin-left: 20px;
}

.nav-title-home-span {
  font-size: 25px;
  font-weight: bold;
}

.home-para {
  color: white;
  padding-top: 90px;
  max-width: 70%; /* Utilisez max-width au lieu de width */
  margin: 0 auto; /* Centre le paragraphe horizontalement */
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}

/* Conteneur des boutons */
.home-div-button {
  margin-top: 5%; /* Utiliser un pourcentage pour la marge */
  display: flex;
  justify-content: center; /* Centrer les boutons horizontalement */
  gap: 20px; /* Espacement entre les boutons */
}

/* Styles des boutons */
.home-button-fr,
.home-button-en {
  width: 180px; /* Largeur fixe, mais vous pouvez utiliser des pourcentages si nécessaire */
  height: 80px;
  font-size: 1.2rem; /* Utiliser des unités relatives pour la taille de la police */
}

/* Footer */
.home-footer {
  position: fixed;
  bottom: 0;
  left: 50%; /* Centrer le footer horizontalement */
  transform: translateX(-50%); /* Ajuster pour un centrage parfait */
  font-size: 1rem; /* Utiliser des unités relatives pour la taille de la police */
  font-weight: lighter;
  text-align: center; /* Centrer le texte */
  width: 100%; /* Prendre toute la largeur */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Ajouter un fond pour une meilleure lisibilité */
  padding: 1px 0; /* Ajouter un peu de padding */
  color: white;
}

/* Styles de base pour la navigation */
.nav-astra-page {
  font-size: 25px;
  font-weight: bold;
  text-align: center; /* Centrer le texte */
}

.nav-astra-menu {
  display: flex;
  justify-content: center; /* Centrer le menu */
  gap: 20px; /* Espacement entre les éléments du menu */
  font-size: 20px;
  margin-left: 0; /* Supprimer la marge gauche fixe */
}

/* Styles pour la section principale */
.section-astra-para {
  padding-top: 190px;
  padding-bottom: 272px;
  text-align: center; /* Centrer le contenu */
}

.astra-title-para,
.astra-title-para2 {
  font-size: 52px;
  margin: 0 auto; /* Centrer les titres */
  text-align: center; /* Centrer le texte */
}

.astra-title-para2 {
  margin-top: 20px; /* Espacement entre les titres */
}

.astra-para {
  max-width: 600px; /* Limiter la largeur */
  margin: 0 auto; /* Centrer le paragraphe */
  font-size: 30px;
  text-align: center;
  padding: 20px 0; /* Ajouter un espacement */
}

/* Styles pour les cartes */
.astra-section-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer les cartes */
  gap: 20px; /* Espacement entre les cartes */
  margin: 0 50px; /* Marge latérale */
}

.astra-card {
  border: 0;
  margin-bottom: 190px;
  width: 900px; /* Largeur fixe pour les cartes */
  text-align: center; /* Centrer le contenu */
}

.astra-card-title {
  font-size: 22px;
  font-weight: bold;
  padding-top: 65px;
}

.astra-card-steps {
  padding: 0 20px; /* Espacement interne */
}

.astra-card-footer {
  margin-top: 20px;
  text-align: right; /* Aligner le footer à droite */
}

/* Styles pour la section annonce */
.astra-section-annonce {
  margin: 0 auto; /* Centrer la section */
  max-width: 1200px; /* Limiter la largeur */
  padding: 0 20px; /* Espacement interne */
}

.astra-card-annonce {
  margin-bottom: 400px;
  text-align: center; /* Centrer le contenu */
}

.astra-card-annonce-title {
  padding-top: 80px;
  color: rgb(25, 118, 210);
}

.astra-card-annonce-soustitle {
  font-size: 22px;
  font-weight: bold;
}

.astra-card-annonce-para {
  padding-bottom: 40px;
  font-size: 18px;
}

/* Styles pour la section contact */
.astra-section-contact {
  margin: 0 auto; /* Centrer la section */
  max-width: 1200px; /* Limiter la largeur */
  padding: 0 20px 15px; /* Espacement interne */
}

.astra-card-contact {
  margin-top: 100px;
}

.astra-card-contact-title {
  padding-top: 10px;
  text-align: center;
}

.astra-card-contact-div {
  padding-left: 150px;
}

.astra-card-contact-icon1 {
  font-size: 50px;
  margin-right: 20px;
}

.astra-card-contact-icon2_3 {
  font-size: 50px;
  margin-right: 25px;
}

.astra-card-contact-text {
  font-size: 22px;
  font-weight: bold;
}

.astra-map {
  border: 0;
  height: 300px;
  width: 95%;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 20px;
}

@media screen and (max-width: 430px) {
  /* Home page */
  .home-page {
    background-image: url("/public/images/background-2.jpg");
    background-size: auto;
  }

  .div-nav {
    padding-top: 30px;
  }

  .nav-title-home {
    margin-left: 40px;
  }

  .nav-title-home-span {
    font-size: 22px;
    font-weight: bold;
  }

  .home-para {
    padding-top: 190px; /* Réduire l'espacement en haut */
    font-size: 18px; /* Réduire la taille de la police */
    max-width: 90%; /* Augmenter la largeur maximale */
  }

  .home-div-button {
    flex-direction: column; /* Empiler les boutons verticalement */
    gap: 10px; /* Réduire l'espacement entre les boutons */
  }

  .home-button-fr,
  .home-button-en {
    width: 100%; /* Prendre toute la largeur disponible */
    height: 60px; /* Réduire la hauteur des boutons */
    font-size: 1rem; /* Réduire la taille de la police */
  }

  .home-footer {
    font-size: 0.8rem; /* Réduire la taille de la police */
  }

  .nav-astra-page {
    font-size: 20px; /* Réduire la taille de la police */
  }

  .nav-astra-menu {
    font-size: 16px;
  }

  .section-astra-para {
    padding-top: 190px; /* Réduire l'espacement en haut */
    padding-bottom: 190px; /* Réduire l'espacement en bas */
  }

  .astra-title-para,
  .astra-title-para2 {
    font-size: 32px; /* Réduire la taille des titres */
  }

  .astra-para {
    font-size: 20px; /* Réduire la taille de la police */
    max-width: 90%; /* Augmenter la largeur maximale */
  }

  .astra-section-card {
    margin: 0 20px; /* Réduire la marge latérale */
  }

  .astra-card {
    width: 100%; /* Prendre toute la largeur */
    margin-bottom: 100px; /* Réduire l'espacement en bas */
  }

  .astra-card-title {
    padding-top: 30px; /* Réduire l'espacement en haut */
  }

  .astra-section-annonce {
    margin: 0 20px; /* Réduire la marge latérale */
  }

  .astra-card-annonce {
    margin-bottom: 200px; /* Réduire l'espacement en bas */
  }

  .astra-card-annonce-title {
    padding-top: 40px; /* Réduire l'espacement en haut */
  }

  .astra-card-annonce-soustitle {
    font-size: 18px; /* Réduire la taille de la police */
  }

  .astra-card-annonce-para {
    font-size: 16px; /* Réduire la taille de la police */
  }
}

@media screen and (max-width: 360px) {
  .home-page {
    background-image: url("/public/images/background-2.jpg");
    background-size: auto;
  }

  .div-nav {
    padding-top: 30px;
  }

  .nav-title-home {
    margin-left: 40px;
  }

  .nav-title-home-span {
    font-size: 15px;
    font-weight: bold;
  }

  .home-para {
    padding-top: 30px; /* Réduire encore l'espacement en haut */
    font-size: 16px; /* Réduire davantage la taille de la police */
  }

  .home-button-fr,
  .home-button-en {
    height: 50px; /* Réduire encore la hauteur des boutons */
    font-size: 0.9rem; /* Réduire davantage la taille de la police */
  }

  .home-footer {
    font-size: 0.7rem; /* Réduire davantage la taille de la police */
  }

  /* Astragale fr page desktop */
  .nav-astra-page {
    font-size: 18px; /* Réduire davantage la taille de la police */
  }

  .nav-astra-menu {
    font-size: 11px; /* Réduire davantage la taille de la police */
  }

  .section-astra-para {
    padding-top: 230px; /* Réduire davantage l'espacement en haut */
    padding-bottom: 230px; /* Réduire davantage l'espacement en bas */
  }

  .astra-title-para,
  .astra-title-para2 {
    font-size: 28px; /* Réduire davantage la taille des titres */
  }

  .astra-para {
    font-size: 15px; /* Réduire davantage la taille de la police */
    width: 300px;
  }

  .astra-card {
    width: 340px; /* Augmenter la largeur des cartes */
  }

  .astra-card-title {
    font-size: 20px; /* Réduire davantage la taille de la police */
  }

  .astra-card-annonce-title {
    padding-top: 30px; /* Réduire davantage l'espacement en haut */
    font-size: 15px;
  }

  .astra-card-annonce-soustitle {
    font-size: 16px; /* Réduire davantage la taille de la police */
  }

  .astra-card-annonce-para {
    font-size: 15px; /* Réduire davantage la taille de la police */
  }

  .astra-section-contact {
    margin: 0 auto; /* Centrer la section */
    max-width: 1200px; /* Limiter la largeur */
    padding: 0 20px 15px; /* Espacement interne */
  }

  .astra-card-contact-para {
    font-size: 1px; /* Réduire davantage la taille de la police */
  }
}

@media screen and (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
  /* Home page */
  .home-page {
    background-image: url("/public/images/background-2.jpg");
    background-size: auto;
  }

  .div-nav {
    padding-top: 20px;
  }

  .nav-title-home {
    margin-left: 20px;
  }

  .nav-title-home-span {
    font-size: 35px;
    font-weight: bold;
  }

  .home-para {
    padding-top: 120px; /* Augmenter l'espacement en haut */
    font-size: 32px; /* Augmenter la taille de la police */
    max-width: 60%; /* Réduire la largeur maximale */
  }

  .home-div-button {
    margin-top: 10%; /* Augmenter la marge en haut */
  }

  .home-button-fr,
  .home-button-en {
    width: 200px; /* Augmenter la largeur des boutons */
    height: 100px; /* Augmenter la hauteur des boutons */
    font-size: 1.5rem; /* Augmenter la taille de la police */
  }

  .home-footer {
    font-size: 1.2rem; /* Augmenter la taille de la police */
  }

  /* Astragale fr page desktop */
  .section-astra-para {
    padding-top: 250px; /* Augmenter l'espacement en haut */
    padding-bottom: 350px; /* Augmenter l'espacement en bas */
  }

  .astra-title-para,
  .astra-title-para2 {
    font-size: 64px; /* Augmenter la taille des titres */
  }

  .astra-para {
    font-size: 36px; /* Augmenter la taille de la police */
    max-width: 800px; /* Augmenter la largeur maximale */
  }

  .astra-card {
    width: 1300px; /* Augmenter la largeur des cartes */
  }

  .astra-card-title {
    font-size: 26px; /* Augmenter la taille de la police */
  }

  .astra-card-annonce-title {
    padding-top: 120px; /* Augmenter l'espacement en haut */
  }

  .astra-card-annonce-soustitle {
    font-size: 26px; /* Augmenter la taille de la police */
  }

  .astra-card-annonce-para {
    font-size: 22px; /* Augmenter la taille de la police */
  }
}
